.wheel-visualizer {
  position: relative;
  width: min(420px, 100%);
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wheel-visualizer__wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 18px 45px rgba(15, 23, 42, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wheel-visualizer__wheel::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset 0 0 0 2px rgba(30, 64, 175, 0.2);
}

.wheel-visualizer__pointer {
  position: absolute;
  top: -12px;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 28px solid #f97316;
  z-index: 2;
}

.wheel-visualizer__empty {
  position: absolute;
  text-align: center;
  max-width: 70%;
  color: #475569;
  font-weight: 600;
}
